:root {
    --main-color: #ff305b;
    --bg-color: #151515;
    --second-color: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Roboto" , sans-serif;
    height: 100vh;
    background-color: #1D1D1D;
}

h1
h2
h3
h4
h5
h6{
    font-family: "Exo 2", sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

html{
    scroll-behavior: smooth;
}

#title{
    
    text-align: center;
    width: fit-content;
    margin: auto;
    color: #fff;
    margin-bottom: 30px;
}

#title h2{
    font-size: 40px;
    
}
#title #lines{
    margin-top: 10px;
    margin: auto;
}

#title #lines span{
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--main-color);
    margin: auto;
}

#title #lines span:nth-of-type(2){
    margin: 3px auto;
    width: 100%;
}

h2{
    color: #fff;
}